#*
 * Project Ginger Base
 *
 * Copyright IBM Corp, 2015-2017
 *
 * Code derived from Project Kimchi
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *#

#unicode UTF-8
#import gettext
#from wok.cachebust import href
#silent t = gettext.translation($lang.domain, $lang.localedir, languages=$lang.lang, fallback=True)
#silent _ = t.gettext
#silent _t = t.gettext
<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="plugins/gingerbase/css/gingerbase.css">
<script src="plugins/gingerbase/js/gingerbase.min.js"></script>
</head>
<body>
<div id="host-root-container">
    <div id="host-content-container" class="empty-when-logged-off">
    </div>
</div>

<script id="host-dashboard-tmpl" type="gingerbase/template">
<div class="host-dashboard">
    <div class="container">
        <div id="dashboard-container">
            <div id="content-sys-statistics">
                <div class="col-md-3">
                    <div id="cpu-dashboard">
                        <h3 class="section-label">$_("CPU")</h3>
                        <div class="section-value">
                            <div id="container-chart-cpu" class="inline-block"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="memory-dashboard">
                        <h3 class="section-label">$_("Memory")</h3>
                        <div class="section-value">
                            <div id="container-chart-memory" class="inline-block"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="disk-dashboard">
                        <h3 class="section-label">$_("Disk I/O")</h3>
                        <div class="section-value">
                            <div id="container-chart-disk-io" class="inline-block"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div id="network-dashboard">
                        <h3 class="section-label">$_("Network I/O")</h3>
                        <div class="section-value">
                            <div id="container-chart-network-io" class="inline-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="host-panel">
    <div class="container">
        <div id="host-info-container" class="row">
            <div id="content-sys-info" class="panel panel-default col-md-6">
                <div class="panel-heading">
                    <h3 class="panel-title">$_("Basic Information")</h3>
                </div>
                <div class="panel-body">
                <span id="smt-load-message" style="display:none;"></span>
                <div id="smt_available" hidden>
                    <label>$_("SMT")</label>
                    <label id="smt_cstatus" style="font-weight:bold"></label>
                    <div class="btn-group">
                        <button aria-expanded="false" type="submit" data-toggle="modal" data-target="#smtinfo" onClick="gingerbase.getsmtstatus()" class="btn-primary"><i class="fa fa-pencil"> Edit</i></button>
                    </div>
                    </div>
                    <dl class="basic-information-list">
                        <dt>{architecture}</dt>
                        <dd>$_("Architecture")</dd>
                        <dt>{os_distro}</dt>
                        <dd>$_("OS Distro")</dd>
                        <dt>{os_version}</dt>
                        <dd>$_("OS Version")</dd>
                        <dt>{os_codename}</dt>
                        <dd>$_("OS Code Name")</dd>
                        <dt>{cpu_model}</dt>
                        <dd>$_("Processor")</dd>
                        <dt>{cpus}</dt>
                        <dt>{cpu_threads}</dt>
                        <dd>$_("CPU(s)")</dd>
                    </dl>
                    <dl id="s390x-cores-info" class="basic-information-list hidden">
                        <dt>{cores_info}</dt>
                        <dd>$_("Core(s)")</dd>
                    </dl>
                    <dl class="basic-information-list">
                        <dt>{memory}</dt>
                        <dd>$_("Memory")</dd>
                    </dl>
                    <dl id="s390x-info" class="basic-information-list hidden">
                        <dt>{lpar_details}</dt>
                        <dd>$_("LPAR Details")</dd>
                        <dt>{hypervisor_details}</dt>
                        <dd>$_("Hypervisor Details")</dd>
                    </dl>
                </div>
            </div>
            <div id="debug-report-section" class="col-md-6 hidden"></div>
        </div>
    </div>
</div>
</script>
<div id="modalWindow" class="modal fade host-modal" tabindex="-1" role="dialog" aria-labelledby="hostsModalLabel" aria-hidden="true">
</div>
<div class="modal fade host-modal" id="smtinfo" tabindex="-1" role="dialog" labelledby="addUserModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog" role="document">
        <div class="modal-content" id="smt-current-status">
            <div class="modal-header">
                <button type="button" id="stm-info-button-close" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">$_("Simultaneous Multi-Threading")</h4>
            </div>
            <hr style="display:block;
            margin-left:30px;
            margin-right:30px ;
            border-color:#73e600 ;
            border-width:3px;">
            <div class="modal-body" id="smt-current-status-info">
                <form id="smt-status-form" class="tab-pane form-horizontal">
                    <div class="form-group">
                        <span id="smt-message" style="display:none;"></span>
                    </div>
                    <div class="form-group">
                        <div class="form-group" style="width:auto;height:auto;border:1px dotted black;">
                            <div class="form-group" style="padding-top:10px;">
                                <span style="font-size:20px;font-family:arial;padding-left:20px;"><b>Current SMT Settings</b></span>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 col-lg-5" style="padding-left:20px;">$_("SMT Status")</label>
                                <label id="smtstatus-textbox" class="col-md-7 col-lg-7"></label>
                            </div>
                            <div class="form-group">
                                <label class="col-md-5 col-lg-5" style="padding-left:20px;">$_("SMT Value")</label>
                                <label id="smtvalue-textbox" class="col-md-7 col-lg-7"></label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group" style="width:auto;height:auto;border:1px dotted black;">
                            <div class="form-group" style="padding-top:10px;">
                                <span style="font-size:20px;font-family:arial;padding-left:20px;"><b>Persisted SMT Settings</b></span>
                            </div>
                            <div class="form-group">
                                <label for="smtstatus-textbox" class="col-md-5 col-lg-5" style="padding-left:20px;">$_("SMT Status")</label>
                                <input type="checkbox" checked="true" class="make-switch col-md-7 col-lg-7" id="smt-status-change" />
                            </div>
                            <div class="form-group" id="smt-value" hidden>
                                <label for="smtvalue-textbox" class="col-md-5 col-lg-5" style="padding-left:20px;">$_("SMT Value")</label>
                                <select id="smtTypeenabled" class="selectpicker col-md-2 col-lg-2" style="margin-top:45px;">
                                    <option value="1">$_("SMT 1")</option>
                                    <option value="2">$_("SMT 2")</option>
                                </select>
                            </div>
                            <div class="form-group" id="no-smt-value" hidden>
                                <label for="smtstatus-textbox" class="col-md-5 col-lg-5" style="padding-left:20px;">$_("SMT Value")</label>
                                <input class="col-md-2 col-lg-2 form-control" style="text-align:center;" type="text" name="status" value="no smt" id="smtTypedisabled" disabled/>
                            </div>
                            <p class="help-block">
                                <i class="fa fa-info-circle" style="padding-left:20px;"></i>$_("changes will be applied only after rebooting the system")
                            </p>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="smt-submit" class="btn btn-default" disabled>$_("Apply")</button>
                <button type="button" id="smt-cancel" class="btn btn-default" data-dismiss="modal">$_("Cancel")</button>
            </div>
        </div>
<script type="text/javascript">
    // Init host dashboard
    gingerbase.host_dashboard();
</script>
#for $script in $data.scripts
<script type="text/javascript" src="$script"></script>
#end for
</body>
</html>
